#toolbar.toolbar
  ul
    li.device.desktop
    li.device.tablet
    li.device.mobile-h
    li.device.mobile
  .select.off
  .move-element.disabled
    .up
    .down
  ol.bootstrap-cols
    li.off.disabled.col-xx-1
    li.off.disabled.col-xx-2
    li.off.disabled.col-xx-3
    li.off.disabled.col-xx-4
    li.off.disabled.col-xx-5
    li.off.disabled.col-xx-6
    li.off.disabled.col-xx-7
    li.off.disabled.col-xx-8
    li.off.disabled.col-xx-9
    li.off.disabled.col-xx-10
    li.off.disabled.col-xx-11
    li.off.disabled.col-xx-12
  .responsizer.disabled.off
