doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Responsize
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(href='responsize.css', rel='stylesheet')
  body
    #app
      include toolbar/toolbar.jade
      include stage/stage.jade
      script(src='responsize.js')
      script.
        initResponsizeApp();

