$frameTransition: width .5s, top .5s, left .5s, height .5s, transform .5s;

rsz-stage {
  top: $stageTop;
  left: $stageLeft;
  right: $stageRight;
  bottom: $stageBottom;
  position: absolute;
  background-color: $color0;
  overflow: hidden;

}

rsz-stage::shadow iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid;
  position: relative;
  transition: $frameTransition;
  -webkit-transition: $frameTransition;
  -moz-transition: $frameTransition;
}
