$top: 100px;
$bottom: 10px;
$left: 100px;
$right: 10px;

.stage {
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
  position: absolute;
  background-color: $color2;
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
