// colors
$color0: grey;
$color1: #313131;
$color2: #FFFFFF;
$rsz-orange: #F38A47;

// toolbar postion
$toolbarHeight: 60px;

// stage position
$stageTop: $toolbarHeight;
$stageBottom: 0;
$stageLeft: 0;
$stageRight: 0;


