
.rsz-select-candidate {
  box-shadow: 0px 0px 5px #888888;
  cursor: pointer;
}

.rsz-selected {
  box-shadow: 0px 0px 5px #000;
}

body.rsz-select-mode {
}

body.rsz-resize-ew * {
  cursor: ew-resize;
}

body.rsz-resize-ns * {
  cursor: ns-resize;
}