doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='shortcut icon', type='image/x-icon', href='assets/responsize-small.png')
    title Responsize
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    // responsize imports
    script(src='responsize.js')
    link(href='responsize.css', rel='stylesheet')

    style.
      body {
        background-color: grey;
        margin: 0;
      }

  body
    a.ribbon(href="https://github.com/silexlabs/responsize/")
      img(src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png", alt="Fork me on GitHub")
    // Google Tag Manager
    noscript
      iframe(src="//www.googletagmanager.com/ns.html?id=GTM-5T2LW2", height="0", width="0", style="display:none;visibility:hidden")
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5T2LW2');</script>

    // container for Responsize app
    rsz-app#rsz-app
      include rsz/app/app.jade

    // Bootstrap Responsize app
    script.
      initResponsizeApp();

