// colors
$color0: grey;
$color1: #313131;
$color2: #FFFFFF;

// toolbar postion
$toolbarHeight: 60px;

// stage position
$stageTop: $toolbarHeight + 10;
$stageBottom: 10px;
$stageLeft: 10px;
$stageRight: 10px;


@import 'src/rsz/app/app';
@import 'src/rsz/stage/stage';
@import 'src/rsz/toolbar/toolbar';

